.h
	Notes 👅!
	= render partial: "notes/new" 
	.list
		- i = @notes.count + 1
		-@notes.reverse.each do |note|
			-i -= 1
			.sticky
				.id
					#{note.id}
				.title
					- if note.title.blank?
						.untitled
							= link_to  "untitled note ##{i}", note
					- else
						= link_to note.title, note
				- if note.image?
					.image
						%img{ src: note.image}
				.content
					#{note.note}
				.delete
					=link_to 'delete', note_path(note), method: :delete
