.h
	Notes mothafucka!
	.list
		%ul
		- i = 0
		-@notes.each do |note|
			-i += 1
			.sticky
				.id
					#{note.id}
				.title
					- if note.title.blank?
						.untitled
							= link_to  "untitled note ##{i}"
					- else
						= link_to note.title, note
				.content
					#{note.note}
				.delete
					=link_to 'delete', note_path(note), method: :delete
	= render partial: "notes/new" 
